.update-form--container {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.button {
  cursor: pointer;
  padding: 10px 50px;
  font-size: 14px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 3px;

  &:hover {
    transition: .3s all ease;
  }
}

.button-submit {
  margin: 0;
}

.button-cancel {
  border-color: $color-red;
  color: $color-white;
  background: $color-grey;

  &:hover {
    color: $color-white;
    background: $color-red;
  }
}

.orange-button {
  background: $color-orange;
  color: $color-white;
  border-color: $color-orange;
  
  &:hover {
    background: $color-white;
    color: $color-orange;
  }
}

.blue-button {
  background: $color-blue;
  color: $color-white;
  border-color: $color-blue;
  
  &:hover {
    background: $color-white;
    color: $color-blue;
  }
}
