@import 'settings';
@import 'helpers/mixins';
@import 'grid/grid';
@import 'global';

// Global Components
@import 'components/header';

body { overflow: hidden; }

.page {
   &-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   &-header {
      flex: 0 0 auto;
   }

   &-content {
      flex: 1 1 auto;
      position: relative;
      overflow-y: auto;
   }
}

// People Page stuff

/* .App {
    text-align: center;

    &-header {
        color: orangered;
    }
}
 */

.person-container {
  margin-bottom: 2rem;
  // padding-left: .5rem;
  // padding-right: .5rem;
}

.image-container{
   position: relative;
}

.image-element-class {
  // width: 25rem;
  // height: 25rem;
  width: 100%;
  transition: opacity 0.7s;
}

.main-img{
  position: absolute;
   // z-index: 1;
}

.main-img:hover {
  opacity: 0;
}

.person-container.brought-to-front{
  order: 0;
}

.person-container.sent-to-rear{
  order: 1;
}

.greyed-out {
  opacity: .4;
}

.hover-img {
  opacity: .0;
  filter: sepia();
  // margin-left: -25rem;
  // z-index: 0;
}
.not-greyed-out.hover-img:hover {
  opacity: .4;
   // z-index: 1;
  // opacity: 1;
}

.people-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.person {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
}


.filter-dropdown {
   display: block;
   margin-right: auto;
   margin-left: auto;


   background-color: white;
}

.filter-dropdown-div{
   margin: 2rem;
   text-align: center;
}

.filter-dropdown-div>label{
   margin-bottom: 1rem;
}

.page-title-div {
   background-color: lightgrey;
   font-size: 2rem;
   padding: 3rem;
}
