@import 'helpers';

.container {
   align-content: center;
   align-items: flex-start;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding-left: $grid-container-padding;
   padding-right: $grid-container-padding;

   &--max {
      @extend .container;
      max-width: $global-browser-max-size;
      margin-left: auto;
      margin-right: auto;
   }

   @if ($grid-gutter == auto) {
      justify-content: space-around;
   } @else {
      justify-content: flex-start;
   }

   .container {
      @if ($grid-gutter != auto) {
         $row-compensation: ($grid-gutter / 2) * -1;

         margin-right: $row-compensation;
         margin-left: $row-compensation;
      }
   }
}

.col {
   @include column(auto);
}

.pull-right {
   margin-left: auto;
   margin-right: 0;
}

.order-last { order: ($grid-columns)+1; }

@include mq-col-setup;
@include align;
@include direction;
@include justify;
@include wrap;

@media($xs-and-up) {
   @include grid("xs");
}

@media($sm-and-up) {
   @include grid("sm");
}

@media($md-and-up) {
   @include grid("md");
}

@media($wd-and-up) {
   @include grid("wd");
}

@media($xw-and-up) {
   @include grid("xw");
}

@media($lg-and-up) {
   @include grid("lg");
}

@media($xl-and-up) {
   @include grid("xl");
}

@media($xs-to-sm) {
   @include grid("xs-sm");
}

@media($sm-to-md) {
   @include grid("sm-md");
}

@media($md-to-wd) {
   @include grid("md-wd");
}

@media($wd-to-xw) {
   @include grid("wd-xw");
}

@media($xw-to-lg) {
   @include grid("xw-lg");
}

@media($lg-to-xl) {
   @include grid("lg-xl");
}
